.main {
  height: 40vh; //fallback option
  height: calc(var(--vh, 1vh) * 40);
  background-color: $white;
  @include media('<=tablet') {
    margin-top: -96px;
  }
  .row {
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: 3rem;
      line-height: 4.2rem;
      font-weight: 700;
      z-index: 10;
      color: $white;
      mix-blend-mode: difference;
      @include media('<=tablet') {
        font-size: 2.4rem;
        line-height: 3rem;
      }
      @include media('<=phone') {
        margin-top: 72px;
        font-size: 1.7rem;
        line-height: 2.2rem;
      }
      .line {
        margin-bottom: 8px;
        height: 56px;
        position: relative;
        overflow: hidden;
        @include media('<=tablet') {
          height: 48px;
        }
        @include media('<=phone') {
          height: 32px;
        }
        span {
          position: absolute;
        }
      }
    }
  }
}